header{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3%;
    border-radius: 10px; /* Añade bordes redondeados al aside */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Añade una sombra sutil */
}
header img{
    margin-right: 480px;
}